@using CHE.Web.ViewModels.Cooperatives;
@model CHE.Web.ViewModels.PaginatedList<CooperativeAllViewModel>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Cooperatives</li>
        </ol>
        <h2>Cooperatives</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-area="Parent" asp-controller="Cooperatives" asp-action="Create" class="btn btn-che">Create new</a>
                <a asp-area="" asp-controller="Cooperatives" asp-action="All" class="btn btn-che">See All</a>
            </div>
        </div>
        <hr class="my-4">
        @if (@Model.Count == 0)
        {
            <div class="row justify-content-center">
                <h4>There are no coopertives!</h4>
            </div>
        }
        else
        {
            <partial name="_CooperativesListPartial" model="Model"/>
            <vc:pagination controller="Cooperatives"
                           page-index="@Model.PageIndex"
                           has-previous-page="@Model.HasPreviousPage"
                           has-next-page="@Model.HasNextPage"
                           filter="null">
            </vc:pagination>
        }
    </div>
</section><!-- End Services Section -->