@model IEnumerable<CHE.Web.ViewModels.Cooperatives.CooperativeAllViewModel>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>Cooperatives</li>
        </ol>
        <h2>Cooperatives</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-area="Parent" asp-controller="Cooperatives" asp-action="Create" class="btn btn-che">Create new</a>
                <a asp-area="" asp-controller="Cooperatives" asp-action="All" class="btn btn-che">See All</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="row justify-content-center">
            <h5>@User.Identity.Name's cooperatives</h5>
        </div>
        <partial name="_CooperativesListPartial" model="Model" />
    </div>
</section><!-- End Services Section -->