@model CHE.Web.ViewModels.JoinRequests.JoinRequestCooperativeAllListViewModel
@{
    Layout = WebConstants.CooperativeLayout;

    var cooperativeId = Model.CooperativeId;
    var requestsCount = 1;
    ViewData["currentPage"] = "Join requests";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col" colspan="2">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.JoinRequests)
        {
            <tr>
                <th scope="row">@(requestsCount++)</th>
                <td colspan="2">@request.Sender</td>
                @if (request.Admin == User.Identity.Name)
                {
                    <td>
                        <a class="btn btn-che btn-sm"
                           asp-area="Parent"
                           asp-controller="JoinRequests"
                           asp-action="Details"
                           asp-route-id="@request.Id">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
