@model CHE.Web.InputModels.JoinRequests.JoinRequestUpdateInputModel
@{
    var data = new Dictionary<string, string>
{
        { "cooperativeId", Model.CooperativeId },
        { "requestId", Model.Id }
    };
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
            <li><a asp-area="" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@Model.CooperativeId">Details</a></li>
            <li>Join Request</li>
        </ol>
        <h2>Join Request </h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Create Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form method="post" asp-area="Parent" asp-controller="JoinRequests" asp-action="Update">
                    <h4>Send join request</h4>
                    <hr />
                    <input asp-for="CooperativeId" hidden />
                    <input asp-for="CreatedOn" type="datetime" hidden />
                    <input asp-for="SenderId" hidden />
                    <input asp-for="CooperativeName" hidden />
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-che">Save changes</button>
                        <button type="button" class="btn btn-che" data-toggle="modal" data-target="#deleteConfirm">
                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ======= Modal ======= -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete request for:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Cooperative: <strong>@Model.CooperativeName</strong></h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-che" asp-area="Parent" asp-controller="JoinRequest" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}