@model CHE.Web.ViewModels.Cooperatives.CooperativeAllListViewModel

<h1>Cooperatives</h1>
<div class="row">
    @foreach (var cooperative in Model.Cooperatives)
    {
    <div class="col-lg-3 col-md-5 mb-4">
        <a asp-controller="Cooperatives" asp-action="Details" asp-route-id="@cooperative.Id">
        <div class="card h-100">
            <div class="image">
                <img class="card-img-top" src="https://chestorage.blob.core.windows.net/uploads/Cooperative_Avatar.png" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <strong>Name: </strong>@cooperative.Name
                </h4>
                <p class="card-text">
                    <div><strong>Info: </strong>@cooperative.Info</div>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div><strong>Grade: </strong>@cooperative.Grade</div>
            </div>
        </div>
    </a>
    </div>
    }
</div>
