@model CHE.Web.ViewModels.Cooperatives.CooperativeAllListViewModel

<h1>Cooperatives</h1>
<div class="row">
    @foreach (var cooperative in Model.Cooperatives)
    {
        <div class="col-lg-3 col-md-5 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <strong>Name: </strong>@cooperative.Name
                    </h4>
                    <p class="card-text">
                        <div><strong>Info: </strong>@cooperative.Info</div>
                        <div><strong>Grade: </strong>@cooperative.Grade</div>
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@cooperative.Id">View</a>
                </div>
            </div>
        </div>

    }
</div>
