@model CHE.Web.ViewModels.Cooperatives.CooeprativeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (this.User.Identity.Name == Model.CreatorUserName)
{
    <partial name="_DetailsCreatorPartial" model="@Model" />
}
else
{
    <partial name="_DetailsAllPartial" model="@Model" />
}