@model CHE.Web.ViewModels.Teachers.TeacherAllListViewModel
<h1>Teachers</h1>

<div class="row">
    @foreach (var teacher in Model.Teachers)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/700x300" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@teacher.UserName</a>
                    </h4>
                    <p>
                        <div class="card-text">Rating: @teacher.Rating / 5</div>
                        <div class="card-text">Reviews: @teacher.ReviewsCount</div>
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary" asp-controller="Teachers" asp-action="Details" asp-route-id="@teacher.Id">View</a>
                </div>
            </div>
        </div>
    }
</div>