@model CHE.Web.ViewModels.Teachers.TeacherAllListViewModel
<h1>Teachers</h1>

<div class="container">
    <div class="row teacher-list">
        @foreach (var teacher in Model.Teachers)
        {
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">@teacher.UserName</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a class="btn btn-primary" asp-controller="Teachers" asp-action="Details" asp-route-id="@teacher.Id">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>