@model CHE.Web.ViewModels.Teachers.TeacherAccountNavViewModel

<li><a asp-area="Identity" asp-page="/Account/Manage/Profile">Profile</a></li>
<li><a asp-area="" asp-controller="Reviews" asp-action="MyAll">Reviews</a></li>
<li><a asp-area="" asp-controller="Schedules" asp-action="Details" asp-route-id="@Model.ScheduleId">Schedule</a></li>