<nav class="nav-coop">
    <ul>
        <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Info</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Manage/Email">Email</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a></li>
        @if (this.User.IsInRole(GlobalConstants.TEACHER_ROLE))
        {
            <vc:account-nav user="@User"></vc:account-nav>
        }
        <li><a asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a></li>
    </ul>
</nav>
