<nav class="nav-coop nav-acount">
    <ul>
        <div class="parent-nav">
        <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Info</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Manage/Email">Email</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change password</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a></li>
        </div>
        @if (this.User.IsInRole(GlobalConstants.TeacherRole))
        {
            <div class="teacher-nav">
                <vc:account-nav user-id="@User.GetId()"></vc:account-nav>
            </div>
        }
    </ul>
</nav>
