@{
    var id = ViewData["id"];
    var scheduleId = ViewData["scheduleId"];
}

<div class="col-lg-3">
    <div class="sidebar">
        <h3 class="sidebar-title">Categories</h3>
        <div class="sidebar-item categories">
            <ul class="cooperative-sidebar">
                <li><a asp-area="" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@id">Info</a></li>
                <li><a asp-area="Parent" asp-controller="Cooperatives" asp-action="Members" asp-route-id="@id">Memebers</a></li>
                <li><a asp-area="Parent" asp-controller="Cooperatives" asp-action="Requests" asp-route-id="@id">Join requests</a></li>
                <li><a asp-area="" asp-controller="Schedules" asp-action="Details" asp-route-id="@scheduleId">Schedule</a></li>
            </ul>
        </div>
    </div>
</div>
