@using CHE.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHE</title>
    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
                <i class="icofont-phone"></i> +1 5589 55488 55
            </div>
            <div class="social-links">
                
            </div>
        </div>
    </section><!-- End top bar -->
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a asp-area="" asp-controller="Home" asp-action="Index"><span>CHE</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (this.User.IsInRole(GlobalConstants.PARENT_ROLE))
                    {
                        <li class="drop-down">
                            <a href="#">Cooperaives</a>
                            <ul>
                                <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">See all</a></li>
                                <li><a asp-area="Parent" asp-controller="Cooperatives" asp-action="Create">Create new</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperaives</a></li>
                    }
                    <li><a asp-area="" asp-controller="Teachers" asp-action="All">Teachers</a></li>
                    <partial name="_LoginPartial">
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
              
    <main id="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CHE.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
