<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHE</title>
    <!-- Favicons -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
            <div class="contact-info mr-auto">
                <i class="icofont-unity-hand"></i>Cooperatives For Home Education
                <i class="icofont-university"></i>Education As You See It !!!
            </div>
            <div class="social-links">

            </div>
        </div>
    </section><!-- End top bar -->
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container d-flex">
            <div class="logo mr-auto">
                <h1 class="text-light"><a asp-area="" asp-controller="Home" asp-action="Index"><span>CHE</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
                    <li><a asp-area="" asp-controller="Teachers" asp-action="All">Teachers</a></li>
                    <partial name="_LoginPartial">
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - CHE.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
