@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var cooperativeId = (string)ViewData["id"];
}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
            <li>Details</li>
        </ol>
        <h2>Details </h2>
    </div>
</section>
<!-- End Breadcrumbs -->
<!-- ======= Details Section ======= -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @RenderBody()
            </div>
            <vc:cooperative-layout-nav cooperative-id="@cooperativeId" user-id="@User.GetId()"/>
        </div>
    </div>
</section>
@RenderSection("Scripts", required: false)