@using Microsoft.AspNetCore.Identity
@using CHE.Data.Models
@inject SignInManager<CheUser> SignInManager
@inject UserManager<CheUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    <a asp-area="Identity" asp-page="/Account/Logout"><i class="icofont-logout"></i> Logout</a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Register"><i class="icofont-ui-user"></i> Register</a>
    <a asp-area="Identity" asp-page="/Account/Login"><i class="icofont-login"></i> Login</a>
}