* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-event-btn,
.delete-event-btn,
.update-event-btn {
    background-color: #ec364f;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.2em;
}

.delete-event-btn,
.update-event-btn {
    padding: 0.3em 0.3em;
}

.add-event-btn {
    padding: 0.5em 0.5em;
}

.add-event-btn:hover,
.delete-event-btn:hover,
.update-event-btn:hover {
    background-color: #fff;
    color: #ec364f;
}

.add-event-btn:focus,
.delete-event-btn:focus,
.update-event-btn:focus {
    outline: none;
}

.add-event-btn::before {
    font-family: FontAwesome;
    content: "\f055";
}

.add-event-btn::after {
    content: ' Add event';
}

.delete-event-btn::before {
    font-family: FontAwesome;
    content: "\f1f8";
}

.update-event-btn::before {
    font-family: FontAwesome;
    content: "\f044";
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted {
    color: #777;
}

.cursor-pointer {
    cursor: pointer;
}

.disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/;
}

.calendar,
.calendar .add-event-day .add-event-day-field-btn,
.calendar .calendar-days li:after {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.calendar {
    background: #fff;
    width: 53em;
    height: 33em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 18px #888888
}

.calendar .calendar-left-side-day-of-week,
.calendar .current-day-events ul,
.calendar .add-event-day,
.calendar .calendar-change-year,
.calendar .calendar-days li {
    position: relative;
}

.calendar .calendar-left-side-day,
.calendar .calendar-left-side-day-of-week,
.calendar .current-day-events,
.calendar .add-event-day-field-btn,
.calendar .add-event-day-field {
    color: #fff;
}

.calendar .calendar-left-side-day-of-week,
.calendar .calendar-week {
    text-transform: uppercase;
}

.calendar .right-side,
.calendar .left-side {
    padding: 30px;
    height: 100%;
}

.calendar .left-side {
    width: 320px;
    background: #ec364f;
    float: left;
}

.calendar .current-day,
.calendar .current-day-events {
    padding-top: 1em;
}

.calendar .current-day-events {
    height: 17em;
    border-bottom: 1px solid #fff;
}

.calendar .current-day-events table td {
    font-size: 0.9em;
    list-style: none;
}

.calendar h1.calendar-left-side-day {
    font-size: 92px;
}

.calendar .add-event-day .add-event-day-field {
    border: none;
    background: transparent;
    height: 0.5em;
    width: 100%;
    font-size: 16px;
    padding-right: 30px;
}

.calendar .add-event-day .add-event-day-field:focus {
    outline: none;
}

.calendar .add-event-day .add-event-day-field::placeholder {
    color: #ccc;
}

.calendar .add-event-day .add-event-day-field-btn {
    left: inherit;
    line-height: 34px;
}

.calendar .right-side {
    width: 520px;
    float: right;
}

.calendar .calendar-change-year {
    font-size: 20px;
}

.calendar .calendar-change-year .calendar-change-year-slider {
    margin: 15px 0;
    color: #737373;
}

.calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
    color: #404040;
}

.calendar .calendar-days, .calendar .calendar-week,
.calendar .calendar-month {
    list-style: none;
    font-size: 0;
}

.calendar .calendar-days li,
.calendar .calendar-week li,
.calendar .calendar-month li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.calendar .calendar-month li {
    width: calc(460px / 12);
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px;
}

.calendar .calendar-month li.active {
    color: #171717;
    font-weight: 600;
}

.calendar .calendar-days li {
    width: calc(460px / 7);
    height: 50px;
    line-height: 50px;
}

.calendar .calendar-days li:after {
    content: attr(data-day);
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #959595;
}

.calendar .calendar-days li.another-month:after {
    color: #ccc;
}

.calendar .calendar-days li:hover:after,
.calendar .calendar-days li.selected-day:after,
.calendar .calendar-days li.event-day:before,
.calendar .calendar-days li.active-day:after {
    border-radius: 50%;
}

.calendar .calendar-days li:hover:after,
.calendar .calendar-days li.selected-day:after {
    background: #ccc;
    color: white;
}

.calendar .calendar-days li.event-day:before {
    content: ' ';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    right: 7px;
    background: #1400c7;
}

.calendar .calendar-days li.active-day:after {
    color: white;
    background: #ec364f;
}

.calendar .calendar-week {
    margin-bottom: 30px;
    font-weight: 600;
    color: #737373;
    border-top: 1px solid #ccc;
}

.calendar .calendar-week li {
    width: calc(460px / 7);
    height: 30px;
    line-height: 30px;
}
