@model CHE.Web.InputModels.JoinRequests.JoinRequestCreateInputModel
<div class="form-group">
    <input asp-for="CooperativeId" type="hidden" />
</div>
<div class="form-group d-flex justify-content-lg-between">
    <div>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@Model.CooperativeId">Cancel</a>
    </div>
</div>