@model CHE.Web.InputModels.Events.EventUpdateInputModel
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            @if (this.Model.ScheduleCooperativeId == null)
            {
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Account</a></li>
                <li><a asp-area="" asp-controller="Schedules" asp-action="Details" asp-route-id="@Model.ScheduleId">Schedule</a></li>
            }
            else
            {
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Cooperatives" asp-action="All">Cooperatives</a></li>
                <li><a asp-area="" asp-controller="Cooperatives" asp-action="Details" asp-route-id="@Model.ScheduleCooperativeId">Details</a></li>
                <li><a asp-area="" asp-controller="Schedules" asp-action="Details" asp-route-id="@Model.ScheduleId">Schedule</a></li>
            }
            <li>Edit event</li>
        </ol>
        <h2>Edit event</h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Create Section ======= -->
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form method="post" asp-controller="Events" asp-action="Update" asp-route-id="@Model.Id">
                    <input asp-for="ScheduleId" hidden />
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group time">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group time">
                        <label asp-for="EndDate"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-che">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}