@model CHE.Web.ViewModels.StarRatingViewModel

    <box-icon name='star-half' type='solid'></box-icon>
    <div class="full-star">
        @for (int i = 1; i <= Model.FullStarCount; i++)
        {
            <i class="fas fa-star"></i>
        }
    </div>
    <div class="half-star">
        @for (int i = 1; i <= Model.HalfStarCount; i++)
        {
            <i class="fas fa-star-half"></i>
        }
    </div>
    <div class="empty-star">
        @for (int i = 1; i <= Model.EmptyStarCount; i++)
        {
        <i class="fas fa-star"></i>
        }
    </div>