@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var currentPage = (string)ViewData["currentPage"];
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            @if (currentPage == "Account")
            {
                <li>Account</li>
            }
            else
            {
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index">Account</a></li>
                <li>@currentPage</li>
            }
        </ol>
        <h2>@currentPage </h2>
    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Schedule Section ======= -->
 
<section id="blog" class="blog">
    <div class="container">
        <div class="row account-layout">
            <div class="col-xl-9 col-lg-12 col-sm-12">
                @RenderBody()
            </div>
            <div class="col-xl-3 col-lg-12 col-sm-12">
                <div class="sidebar">
                    <h3 class="sidebar-title">Categories</h3>
                    <div class="sidebar-item categories">
                        <partial name="_AccountNavPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
