@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(/img/slide/slide-1.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Welcome to <span>CHE</span></h2>
                            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="#che-home" class="btn-get-started animated fadeInUp">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background: url(/img/slide/slide-2.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Our <span>cooperatives</span></h2>
                            <p class="animated fadeInUp">A parent cooperative is organized by a group of families with similar philosophies who hire a trained teacher to provide their children with a quality experience. The cooperative is administered and maintained by the parents. The parents assist the professional teachers in the classroom on a rotating basis and participate in the educational program of all the children. Each family shares in the business operation of the school (usually a nonprofit venture), thus making it truly a cooperative venture. Parents, children and their teachers all go to school together and learn together.</p>
                            <a asp-controller="Cooperatives" asp-action="All" class="btn-get-started animated fadeInUp">See More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background: url(/img/slide/slide-3.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Our <span>teachers</span></h2>
                            <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a asp-controller="Teachers" asp-action="All" class="btn-get-started animated fadeInUp">See More</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->
@*<p id="che-home">
    Parent Cooperative
    A parent cooperative is organized by a group of families with similar philosophies who hire a trained teacher to provide their children with a quality preschool experience. It is administered and maintained by the parents. The parents assist the professional teachers in the classroom on a rotating basis and participate in the educational program of all the children. Each family shares in the business operation of the school (usually a nonprofit venture), thus making it truly a cooperative venture. Parents, preschool children and their teachers all go to school together and learn together.

    Benefits for Parents
    Parents gain insight into child behavior by observing other children. They observe how other parents and the professional teachers handle various situations and gain greater understanding and enjoyment of their own children through active participation in their education. They have the opportunity to share their experiences and expertise with others while working together in a cooperative setting. Through serving on the Board, parents learn about administration, running meetings and other skills useful to them in other areas and states of their lives. They also learn useful ideas for helping their children at home and in the world around them.

    Benefits for Children
    Children participate in a supervised play and learning experience with children of their own age. Equipment, materials and physical facilities are scaled to child size. An opportunity is provided to interact with adults other than their own parents. The children are able to find security and a feeling of belonging in a world which is non-threatening and interested in them. Learning to respect and accept the rights and differences of others is emphasized. Children have hands-on experiences in creative arts, music, science, literature, and language geared to their needs and developmental level.

    Benefits for the Community
    Parents and children develop an extended family with friendships they carry through their lives. Parents gain a strong sense of responsibility and develop positive self worth which carries over into every aspect of community life. The cooperative organization provides preschool experiences within the financial means of most families.

    There are many benefits to attending our parent-cooperative preschool. This was taken directly from the Parent Cooperative Preschools International (PCPI) website: www.preschools.coop/.
</p>*@