@model IEnumerable<CHE.Web.ViewModels.Reviews.ReviewAllViewModel>
@{
    Layout = (string)this.ViewData["layout"];
    var reviewsCount = 1;
    ViewData["currentPage"] = "Reviews";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Rating</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
        <tr>
            <th scope="row">@(reviewsCount++)</th>
            <td scope="row">@review.Rating / 5</td>
            <td scope="row">@review.Comment</td>
            @if (this.User.Identity.Name == review.Sender)
            {
                <td>
                    <a class="btn btn-che btn-sm"
                       asp-area="Parent"
                       asp-controller="Reviews"
                       asp-action="Update"
                       asp-route-id="@review.Id">Edit</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>